<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生选课页面</title>
    <link href="../../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">

        <div class="panel panel-default main" id="main">

            <div class="panel-heading text-center">学生选课</div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">课程名称</th>
                        <th scope="col">上课时间</th>
                        <th scope="col">上课地点</th>
                        <th scope="col">任课老师</th>
                        <th scope="col">选课</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td scope="col">{{ course.name }}</td>
                            <td>星期{{ course.week}} {{ course.time }}</td>
                            <td scope="col">{{ course.address }}</td>
                            <td scope="col">{{ course.teachers.name }}</td>
                            <td scope="col">
                                <a href="" cid="{{ course.id }}">选课</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="../../static/js/jquery.js"></script>
    <script>
        //是否确认删除
        $(function () {
            $("#main table tbody tr td a").click(function () {
                var that = $(this);
                var id = that.attr("cid")
                if (event.srcElement.outerText === '选课') {
                    if (window.confirm("此操作不可逆，是否确认？")){
                        //Ajax请求：前后端分离
                        // 选课
                        $.post('/add_select_course/', {id: id}, function (data) {
                            if (data.code == 200) {
                                alert(data.msg)
                                location.reload()
                            }
                            else {
                                alert(data.msg)
                                location.reload()
                            }
                        })
                    }
                }
            })
        });
    </script>
</body>
</html>