<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程考勤信息</title>
    <!-- 引入Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">

        <div class="panel panel-default main" id="main">

            <div class="panel-heading text-center">课程考勤信息</div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>学生学号</th>
                        <th>学生姓名</th>
                        <th>考勤时间</th>
                        <th>是否考勤</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            <td>{{ attendance.id }}</td>
                            <td>{{ attendance.s_id }}</td>
                            <td>{{ attendance.s_name }}</td>
                            <td>{{ attendance.time }}</td>
                            <td>{{ attendance.result }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>