<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师信息</title>
    <!-- 引入Bootstrap CSS -->
    <link href="../../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">

        <div class="panel panel-default main" id="main">

            <div class="panel-heading text-center">教师信息</div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>教师名称</th>
                        <th>教师性别</th>
                        <th>教师密码</th>
                        <th>任课班级</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.id }}</td>
                            <td>{{ teacher.name }}</td>
                            <td>{% if teacher.sex %}
                                    男
                                {% else %}
                                    女
                                {% endif %} </td>
                            <td>{{ teacher.pwd }}</td>
                            <td>{{ teacher.courses_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>